<section class="container-sm mt-5">
    <p>HBS TEMPLATE</p>
    <h1>Add your term</h1>

    <form method="POST" id="myForm" action="/" class="form">
        <div class="mb-3">
            <label>Medical Term</label>
            <input name="term" id="term" type="text" class="form-control" required />
            <div class="valid-feedback">
                This word exists in the Medical Term
            </div>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input name="definition" id="definition" type="text" class="form-control" required />
        </div>
        <div class="mb-3">
            <select name="category" id="category" type="text" class="form-select" required>
                <option selected>Add the category</option>
                <option value="Term with no root">Terms with no root</option>
                <option value="Term with no prefix">Terms with no prefix</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="reset" class="btn btn-primary">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</section>