/* Global CSS */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #c3e1f0;
  height: auto;
  font-family: "Outfit", serif;
}

.box {
  background-color: #f6f4e8;
  border-radius: 20px;
}

h1 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #37afe1;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #4cc9fe;
}

.hidden {
  display: none;
}

.table {
  --bs-table-bg: none;
}
